h2{
    position: fixed;
    bottom: 50px;
    color: #252525;
    font-size: 2em;
    transition: 0.5s;
    cursor: pointer;
}

h2.active{
    color: #fff;
    text-shadow:0 0 20px #fff
                0 0 50px #fff;
}
h2.after{
    content: '2025';
    transition: 0.5s;
}
h2.active::after{
    color: #32ed4e;
    text-shadow:0 0 20px #32ed4e
               0 0 20px #32ed4e ;

}
