body {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid blue;
    border-radius: 8px;
}

h1 {
    color: #911515;
    background-color: blueviolet;
}

p {
    color: rgb(252, 130, 0);
    background-color: yellow;
    text-align: justify;
    font-size: 25px;
    padding: 10px;
}

h2 {
    color: rgb(0, 0, 255);
}

.pa {
    background-color: rgb(2, 57, 255);
    text-align: right;
}

#techzex {
    text-align: center;
    background-color: cyan;

    font-family: monospace;
}